<form name="userInfoForm">
<div layout="column" layout-padding flex ng-cloak>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsPersonal($event)">
            <ng-md-icon icon="help"></ng-md-icon> What is my personal information used for?
        </md-button>
        <span flex></span>
    </div>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>First Name</label>
            <input type="text" ng-model="getUserInfo().FirstName" required name="firstName" />
            <div ng-messages="userInfoForm.firstName.$error">
                <div ng-message="required">A first name is required</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Last Name</label>
            <input type="text" ng-model="getUserInfo().LastName" name="lastName" />
        </md-input-container>
        <md-input-container flex>
            <label>Date of Birth</label>
            <input type="date" ng-model="getUserInfo().BirthDateAsDate" name="birthDate" />
        </md-input-container>
    </div>
    <md-input-container>
        <md-radio-group ng-model="getUserInfo().Sex" layout="row" name="sex">
            <md-radio-button value="Male">Male</md-radio-button>
            <md-radio-button value="Female">Female</md-radio-button>
            <md-radio-button value="NotSpecified">Not Specified</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>Height ({{ getUnitsLengthString() }})</label>
            <input type="number" ng-model="getUserInfo().heightInUnits" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="height" />
        </md-input-container>
        <md-input-container flex>
            <label>Weight ({{ getUnitsWeightString() }}s)</label>
            <input type="number" ng-model="getUserInfo().weightInUnits" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="weight" />
        </md-input-container>
    </div>
    <div flex></div>
</div>
</form>
