<form novalidate name="userInfoForm">
<div layout="column" layout-padding flex ng-cloak>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsPersonalDlg($event)">
            <ng-md-icon icon="help" style="fill: black"></ng-md-icon> What is my personal information used for?
        </md-button>
        <span flex></span>
    </div>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>First Name</label>
            <input type="text" ng-model="userInfo.firstName" ng-model-options="{ getterSetter: true }" required name="firstName" />
            <div ng-messages="userInfoForm.firstName.$error">
                <div ng-message="required">A first name is required</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Last Name</label>
            <input type="text" ng-model="userInfo.lastName" ng-model-options="{ getterSetter: true }" name="lastName" />
        </md-input-container>
        <md-input-container flex>
            <label>Date of Birth</label>
            <input type="date" ng-model="userInfo.birthDate" ng-model-options="{ getterSetter: true }" name="birthDate" />
        </md-input-container>
    </div>
    <md-input-container>
        <md-radio-group ng-model="userInfo.sex" ng-model-options="{ getterSetter: true }" layout="row" name="sex">
            <md-radio-button value="Male">Male</md-radio-button>
            <md-radio-button value="Female">Female</md-radio-button>
            <md-radio-button value="NotSpecified">Not Specified</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>Height ({{ getUnitsLengthString() }})</label>
            <input type="number" ng-model="userInfo.heightInUnits" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="height" />
        </md-input-container>
        <md-input-container flex>
            <label>Weight ({{ getUnitsWeightString() }}s)</label>
            <input type="number" ng-model="userInfo.weightInUnits" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="weight" />
        </md-input-container>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="saveUserInformation()" ng-disabled="userInfoForm.$invalid">
            <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetUserInformation()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <div flex></div>
</div>
</form>
