<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsTripItineraryDlg($event)">
            <ng-md-icon icon="help" style="fill: black"></ng-md-icon> What is a trip itinerary?
        </md-button>
        <span flex></span>
    </div>
    <div ng-show="getTripItineraries().length < 1">You have no trip itineraries! Try adding one!</div>
    <div layout="column" flex ng-show="getTripItineraries().length > 0">
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filterName" name="filterName" placeholder="Filter" />
        </md-input-container>
        <label hide-sm>Sort by</label>
        <md-input-container hide-sm>
            <md-radio-group ng-model="orderBy" layout="row">
                <md-radio-button value="name()">Name</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container hide-gt-sm>
            <label>Sort by</label>
            <md-select ng-model="orderBy">
                <md-option value="name()">Name</md-option>
            </md-select>
        </md-input-container>
        <md-button class="mockup-card-button" layout-fill ng-repeat="tripItinerary in getTripItineraries() | filter:filterTripItinerary | orderBy:orderBy" href="/#!/trips/itineraries/{{ tripItinerary.Id }}">
            <md-card class="mockup-card" flex>
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ tripItinerary.name() }}</h2>
                </md-card-content>
                <div layout="row" layout-sm="column">
                </div>
            </md-card>
        </md-button>
    </div>
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="/#!/trips/itineraries/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
</div>
