<form novalidate name="tripItineraryForm">
<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="tripItinerary.name" ng-model-options="{ getterSetter: true }" required name="name" />
        <div ng-messages="tripItineraryForm.name.$error">
            <div ng-message="required">The trip itinerary name is required</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="tripItinerary.note" ng-model-options="{ getterSetter: true }" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="saveTripItinerary()" ng-disabled="tripItineraryForm.$invalid">
            <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetTripItinerary()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="deleteTripItinerary($event)">
            <ng-md-icon icon="remove" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
