<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>Add Gear Items</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div layout="column" layout-padding flex ng-cloak>
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filterName" name="filterName" placeholder="Filter" />
        </md-input-container>
        <md-dialog-content layout="column">
            <md-checkbox ng-repeat="gearItem in getGearItems() | filter:filterGearItem | orderBy:orderBy" ng-checked="isGearItemSelected(gearItem)" ng-click="toggleGearItemSelected(gearItem)">
                <span style="white-space: nowrap;">{{ gearItem.name() }}</span>
            </md-checkbox>
        </md-dialog-content>
    </div>
</md-dialog>
