<form name="addGearCollectionForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearCollection.Name" required name="name" />
        <div ng-messages="addGearCollectionForm.name.$error">
            <div ng-message="required">The gear collection name is required</div>
        </div>
    </md-input-container>
    <label>Gear Systems</label>
    <p ng-show="gearCollection.GearSystems.length < 1">You have no gear systems in this collection! Try adding one!</p>
    <div layout="column" ng-show="gearCollection.GearSystems.length > 0">
        <md-radio-group ng-model="orderGearSystemsBy" layout="row">
            <md-radio-button value="getName()">Name</md-radio-button>
            <md-radio-button value="-Count">Count</md-radio-button>
            <md-radio-button value="-getWeightInUnits()">Weight</md-radio-button>
        </md-radio-group>
        <md-list>
            <md-list-item ng-repeat="gearSystemEntry in gearCollection.GearSystems | orderBy:orderGearSystemsBy" ng-init="gearSystem = getGearSystemById(gearSystemEntry.GearSystemId)">
                <div layout="row">
                    <md-input-container style="width: 100px;">
                        <input type="number" ng-model="gearSystemEntry.Count" min="1" max="1000000" name="count" />
                    </md-input-container>
                    <div layout="row" layout-sm="column">
                        <span style="white-space: nowrap;">{{ gearSystemEntry.getName() }}</span>
                        &nbsp;
                        <span style="white-space: nowrap;">({{ gearSystemEntry.getWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s)</span>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary mockup-button" ng-click="showAddGearSystem($event)">
            Add Gear Systems
        </md-button>
        <span flex></span>
    </div>
    <label>Gear Items</label>
    <p ng-show="gearCollection.GearItems.length < 1">You have no gear items in this Collection! Try adding one!</p>
    <div layout="column" ng-show="gearCollection.GearItems.length > 0">
        <md-radio-group ng-model="orderGearItemsBy" layout="row">
            <md-radio-button value="getName()">Name</md-radio-button>
            <md-radio-button value="-Count">Count</md-radio-button>
            <md-radio-button value="-getWeightInUnits()">Weight</md-radio-button>
        </md-radio-group>
        <md-list>
            <md-list-item ng-repeat="gearItemEntry in gearCollection.GearItems | orderBy:orderGearItemsBy" ng-init="gearItem = getGearItemById(gearItemEntry.GearItemId)">
                <div layout="row">
                    <md-input-container style="width: 100px;">
                        <input type="number" ng-model="gearItemEntry.Count" min="1" max="1000000" name="count" />
                    </md-input-container>
                    <div layout="row" layout-sm="column">
                        <span style="white-space: nowrap;">{{ gearItemEntry.getName() }}</span>
                        &nbsp;
                        <span style="white-space: nowrap;">({{ gearItemEntry.getWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s)</span>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary mockup-button" ng-click="showAddGearItem($event)">
            Add Gear Items
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearCollection.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary mockup-button" ng-click="addCollection(gearCollection)" ng-disabled="addGearCollectionForm.$invalid">
            Add Collection
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
