<form novalidate name="gearCollectionForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearCollection.name" ng-model-options="{ getterSetter: true }" required name="name" />
        <div ng-messages="gearCollectionForm.name.$error">
            <div ng-message="required">The gear collection name is required</div>
        </div>
    </md-input-container>
    <label>Gear Systems</label>
    <p ng-show="gearCollection.getGearSystems().length < 1">You have no gear systems in this collection! Try adding one!</p>
    <div layout="column" ng-show="gearCollection.getGearSystems().length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderGearSystemsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-count()">Count</md-radio-button>
                <md-radio-button value="-getWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="gearSystemEntry in gearCollection.getGearSystems() | orderBy:orderGearSystemsBy" ng-init="gearSystem = getGearSystemById(gearSystemEntry.getGearSystemId())">
                <md-input-container flex>
                    <label>
                        {{ gearSystemEntry.getName() }}<br />
                        {{ gearSystemEntry.getWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                    </label>
                    <input type="number" ng-model="gearSystemEntry.count" ng-model-options="{ getterSetter: true }" min="1" max="1000000" name="count" />
                </md-input-container>                
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddGearSystemDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="gearCollection.removeAllGearSystems()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <label>Gear Items</label>
    <p ng-show="gearCollection.getGearItems().length < 1">You have no gear items in this collection! Try adding one!</p>
    <div layout="column" ng-show="gearCollection.getGearItems().length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderGearItemsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-count()">Count</md-radio-button>
                <md-radio-button value="-getWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="gearItemEntry in gearCollection.getGearItems() | orderBy:orderGearItemsBy" ng-init="gearItem = getGearItemById(gearItemEntry.getGearItemId())">
                <md-input-container flex>
                    <label>
                        {{ gearItemEntry.getName() }}<br />
                        {{ gearItemEntry.getWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                    </label>
                    <input type="number" ng-model="gearItemEntry.count" ng-model-options="{ getterSetter: true }" min="1" max="1000000" name="count" />
                </md-input-container>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddGearItemDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="gearCollection.removeAllGearItems()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearCollection.note" ng-model-options="{ getterSetter: true }" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="saveGearCollection()" ng-disabled="gearCollectionForm.$invalid">
            <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetGearCollection()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="deleteGearCollection($event)">
            <ng-md-icon icon="remove" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
