$font-family: Arial, Helvetica, Verdana, sans-serif;
$font-size: 12px;

$primary-background-color: #668000;

html, body {
    height: 100%;
    min-height: 100%
}

body {
    font-family: $font-family;
    font-size: $font-size;
}

/* fix bootstrap CSS for angular */ 
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* fix for ng-md-icon's icon being top aligned */
ng-md-icon {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
}

.mockup-toolbar-title {
    white-space: nowrap;

    > a {
        text-decoration: none;
        
        &:focus, &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

/* fix the fucking upper-case bullshit */
.mockup-button {
    text-transform: none;
}

.mockup-sidenav-button {
    @extend .mockup-button;

    text-align: left;
}

.mockup-add-button {
    @extend .mockup-button;

    position: fixed;
    bottom: 5%;
    right: 5%;
}

.mockup-sidenav-divider {
    background-color: $primary-background-color;
}

.mockup-card {
    background-color: white;
}

.mockup-card-content {
    background-color: $primary-background-color;
}
