<!DOCTYPE html>
<html lang="en" ng-app="mockupApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backpacking Planner Mockup</title>
    <link href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css" rel="stylesheet"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/app.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
</head>
<body layout="column" ng-controller="AppCtrl">
<md-toolbar layout="row" ng-cloak>
    <div class="md-toolbar-tools" layout="row">
        <md-button class="md-icon-button" ng-click="toggleSidenav()">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2><span class="mockup-toolbar-title" layout-padding><a href="#/" ng-bind="$root.title"></a></span></h2>
        <span flex></span>
        <md-button class="md-icon-button">
            <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-cloak>
        <md-toolbar layout="column">
            <div class="md-toolbar-tools" layout="column">
                <md-button class="mockup-button" href="#/personal" ng-click="toggleSidenav()">{{ userInfo.FirstName }} {{ userInfo.LastName }}</md-button>
            </div>
        </md-toolbar>
        <md-content flex layout-padding>
            <div layout="column">
                <md-list>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/" ng-click="toggleSidenav()">Home</md-button>
                    </md-list-item>
                    <md-divider class="mockup-sidenav-divider"></md-divider>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/gear/items" ng-click="toggleSidenav()">Gear Items</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/gear/systems" ng-click="toggleSidenav()">Gear Systems</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/gear/collections" ng-click="toggleSidenav()">Gear Collections</md-button>
                    </md-list-item>
                    <md-divider class="mockup-sidenav-divider"></md-divider>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/trip/itineraries" ng-click="toggleSidenav()">Trip Itineraries</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/trip/plans" ng-click="toggleSidenav()">Trip Plans</md-button>
                    </md-list-item>
                    <md-divider class="mockup-sidenav-divider"></md-divider>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/settings" ng-click="toggleSidenav()">Settings</md-button>
                    </md-list-item>
                    <md-list-item>
                        <md-button class="md-primary mockup-sidenav-button" href="#/help" ng-click="toggleSidenav()">Help</md-button>
                    </md-list-item>
                    <div flex></div>
                </md-list>
            </div>
        </md-content>
    </md-sidenav>
    <md-content flex ng-view>Application loading, please wait...</md-content>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.5.0/angular-material-icons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.1/ui-bootstrap-tpls.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/controllers.js"></script>
<script src="/scripts/services.js"></script>
</body>
</html>
