<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="4.1.9" targetFramework="net452" />
  <package id="angular-material.TypeScript.DefinitelyTyped" version="0.1.0" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.8" targetFramework="net452" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.6.1" targetFramework="net452" />
</packages>