<form name="addGearSystemForm">
<div layout="column" flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearSystem.Name" required name="name" />
        <div ng-messages="addGearSystemForm.name.$error">
            <div ng-message="required">The gear system name is required</div>
        </div>
    </md-input-container>
    <p>TODO: items</p>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearSystem.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <div flex></div>
        <md-button type="submit" class="md-raised md-primary mockup-button" ng-click="addSystem(gearSystem)" ng-disabled="addGearSystemForm.$invalid">
            Add System
        </md-button>
        <div flex></div>
    </div>
</div>
</form>
