<form name="gearSystemForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearSystem.Name" required name="name" />
        <div ng-messages="gearSystemForm.name.$error">
            <div ng-message="required">The gear system name is required</div>
        </div>
    </md-input-container>
    <label>Gear Items</label>
    <p ng-show="gearSystem.NumberOfItems < 1">No Gear Items</p>
    <md-list ng-show="gearSystem.NumberOfItems > 0" style="border: solid 1px black;">
        <md-list-item ng-repeat="gearItem in gearSystem.GearItems">
        </md-list-item>
    </md-list>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary mockup-button" ng-click="showAddGearItem($event)">
            Add Gear Items
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearSystem.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-warn mockup-button" ng-click="showDeleteConfirm($event)">
            Delete System
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
