<div layout="column" flex>
    <md-button class="mockup-card-button" ng-repeat="gearSystem in gearSystems" href="#/gear/systems/{{ gearSystem.Id}} ">
        <md-card class="mockup-card">
            <md-card-content class="mockup-card-content">
                <h2 class="md-title">{{ gearSystem.Name }}</h2>
            </md-card-content>
            <p layout-padding>TODO: More Information</p>
        </md-card>
    </md-button>
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="#/gear/systems/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
</div>
