<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>Add Meal</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-input-container md-no-float flex>
        <input type="text" ng-model="filterName" name="filterName" placeholder="Filter" />
    </md-input-container>
    <md-dialog-content layout="column" layout-padding flex ng-cloak>
        <md-checkbox ng-repeat="meal in getMeals() | filter:filterMeal | orderBy:orderBy" ng-checked="isMealSelected(meal)" ng-click="toggleMealSelected(meal)">
            <span style="white-space: nowrap;">{{ meal.name() }}</span>
        </md-checkbox>
    </md-dialog-content>
</md-dialog>
