<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>Add Gear Collections</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="addGearCollectionForm">
    <div layout="column" layout-padding flex ng-cloak>
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filter.Name" name="filter" placeholder="Filter" />
        </md-input-container>
        <md-dialog-content layout="column">
            <md-checkbox ng-repeat="gearCollection in getGearCollections() | filter:filter | orderBy:orderBy" ng-checked="isSelected(gearCollection)" ng-click="toggle(gearCollection)">
                <span style="white-space: nowrap;">{{ gearCollection.Name }}</span>
            </md-checkbox>
        </md-dialog-content>
    </div>
    </form>
</md-dialog>
