<form novalidate name="tripPlanForm">
<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="tripPlan.name" ng-model-options="{ getterSetter: true }" required name="name" />
        <div ng-messages="tripPlanForm.name.$error">
            <div ng-message="required">The trip plan name is required</div>
        </div>
    </md-input-container>
    <div layout="row">
        <md-input-container flex>
            <label>Start Date</label>
            <input type="date" ng-model="tripPlan.startDate" ng-model-options="{ getterSetter: true }" name="startDate" />
        </md-input-container>
        <md-input-container flex>
            <label>End Date</label>
            <input type="date" ng-model="tripPlan.endDate" ng-model-options="{ getterSetter: true }" name="endDate" />
        </md-input-container>
    </div>
    <!--<md-input-container>
        <label>Itinerary</label>
        <md-select ng-model="tripPlan.tripItineraryId" ng-model-options="{ getterSetter: true }" name="itinerary">
            <md-option value="0">No Itinerary</md-option>
            <md-option ng-repeat="tripItinerary in getTripItineraries()" value="{{ tripItinerary.Id }}">{{ tripItinerary.name() }}</md-option>
        </md-select>
    </md-input-container>-->
    <label>Gear Collections</label>
    <p ng-show="tripPlan.getGearCollections().length < 1">You have no gear collections in this plan! Try adding one!</p>
    <div layout="column" ng-show="tripPlan.getGearCollections().length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderGearCollectionsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-count()">Count</md-radio-button>
                <md-radio-button value="-getTotalWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="gearCollectionEntry in tripPlan.getGearCollections() | orderBy:orderGearCollectionsBy" ng-init="gearCollection = getGearCollectionById(gearCollectionEntry.getGearCollectionId())">
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>
                            {{ gearCollectionEntry.getName() }}<br />
                            {{ gearCollectionEntry.getTotalWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                        </label>
                        <input type="number" ng-model="gearCollectionEntry.count" ng-model-options="{ getterSetter: true }" min="1" max="1000000" name="count" />
                    </md-input-container>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddGearCollectionDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="tripPlan.removeAllGearCollections()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <label>Gear Systems</label>
    <p ng-show="tripPlan.getGearSystems().length < 1">You have no gear systems in this plan! Try adding one!</p>
    <div layout="column" ng-show="tripPlan.getGearSystems().length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderGearSystemsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-count()">Count</md-radio-button>
                <md-radio-button value="-getTotalWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="gearSystemEntry in tripPlan.getGearSystems() | orderBy:orderGearSystemsBy" ng-init="gearSystem = getGearSystemById(gearSystemEntry.getGearSystemId())">
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>
                            {{ gearSystemEntry.getName() }}<br />
                            {{ gearSystemEntry.getTotalWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                        </label>
                        <input type="number" ng-model="gearSystemEntry.count" ng-model-options="{ getterSetter: true }" min="1" max="1000000" name="count" />
                    </md-input-container>         
                </div>       
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddGearSystemDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="tripPlan.removeAllGearSystems()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <label>Gear Items</label>
    <p ng-show="tripPlan.getGearItems().length < 1">You have no gear items in this plan! Try adding one!</p>
    <div layout="column" ng-show="tripPlan.getGearItems().length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderGearItemsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-count()">Count</md-radio-button>
                <md-radio-button value="-getTotalWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="gearItemEntry in tripPlan.getGearItems() | orderBy:orderGearItemsBy" ng-init="gearItem = getGearItemById(gearItemEntry.getGearItemId())">
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>
                            {{ gearItemEntry.getName() }}<br />
                            {{ gearItemEntry.getTotalWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                        </label>
                        <input type="number" ng-model="gearItemEntry.count" ng-model-options="{ getterSetter: true }" min="1" max="1000000" name="count" />
                    </md-input-container>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddGearItemDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="tripPlan.removeAllGearItems()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <label>Meals</label>
    <p ng-show="tripPlan.getMeals().length < 1">You have no meals in this plan! Try adding one!</p>
    <div layout="column" ng-show="tripPlan.getMeals().length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderMealsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-count()">Count</md-radio-button>
                <md-radio-button value="-getTotalWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="mealEntry in tripPlan.getMeals() | orderBy:orderMealsBy" ng-init="meal = getMealById(mealEntry.getMealId())">
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>
                            {{ mealEntry.getName() }}<br />
                            {{ mealEntry.getTotalWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                        </label>
                        <input type="number" ng-model="mealEntry.count" ng-model-options="{ getterSetter: true }" min="1" max="1000000" name="count" />
                    </md-input-container>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddMealDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="tripPlan.removeAllMeals()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="tripPlan.note" ng-model-options="{ getterSetter: true }" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="saveTripPlan()" ng-disabled="tripPlanForm.$invalid">
            <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetTripPlan()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="deleteTripPlan($event)">
            <ng-md-icon icon="remove" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
