<div layout="column" layout-padding flex ng-cloak>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsTripPlan($event)">
            <ng-md-icon icon="help"></ng-md-icon> What is a trip plan?
        </md-button>
        <span flex></span>
    </div>
    <div ng-show="getTripPlans().length < 1">You have no trip plans! Try adding one!</div>
    <div layout="column" flex ng-show="getTripPlans().length > 0">
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filter.Name" name="filter" placeholder="Filter" />
        </md-input-container>
        <label>Sort by</label>
        <md-radio-group ng-model="orderBy" layout="row" layout-sm="column">
            <md-radio-button value="Name">Name</md-radio-button>
        </md-radio-group>
        <md-button class="mockup-card-button" layout-fill ng-repeat="tripPlan in getTripPlans() | filter:filter | orderBy:orderBy" href="#/trips/plans/{{ tripPlan.Id }}">
            <md-card class="mockup-card" flex>
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ tripPlan.Name }}</h2>
                </md-card-content>
            </md-card>
        </md-button>
        <div layout="row">
            <span flex></span>
            <md-button class="md-raised md-warn mockup-button" ng-click="">
                Delete All Trip Plans
            </md-button>
            <span flex></span>
        </div>
    </div>
    <!--<md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="#/trips/plans/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>-->
</div>
