<form name="addGearSystemForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearSystem.Name" required name="name" />
        <div ng-messages="addGearSystemForm.name.$error">
            <div ng-message="required">The gear system name is required</div>
        </div>
    </md-input-container>
    <label>Gear Items</label>
    <p ng-show="gearSystem.GearItems.length < 1">You have no gear items in this system! Try adding one!</p>
    <md-list ng-show="gearSystem.GearItems.length > 0">
        <md-list-item ng-repeat="gearItemEntry in gearSystem.GearItems">
            {{ gearItemEntry.Count }}x {{ getGearItemById(gearItemEntry.GearItemId).Name }}
        </md-list-item>
    </md-list>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary mockup-button" ng-click="showAddGearItem($event)">
            Add Gear Items
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearSystem.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary mockup-button" ng-click="addSystem(gearSystem)" ng-disabled="addGearSystemForm.$invalid">
            Add System
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
