<div layout="column" layout-padding flex ng-cloak>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsGearSystemDlg($event)">
            <ng-md-icon icon="help" style="fill: black"></ng-md-icon> What is a gear system?
        </md-button>
        <span flex></span>
    </div>
    <div ng-show="getGearSystems().length < 1">You have no gear systems! Try adding one!</div>
    <div layout="column" flex ng-show="getGearSystems().length > 0">
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filter.Name" name="filter" placeholder="Filter" />
        </md-input-container>
        <label hide-sm>Sort by</label>
        <md-input-container hide-sm>
            <md-radio-group ng-model="orderBy" layout="row">
                <md-radio-button value="Name">Name</md-radio-button>
                <md-radio-button value="-getGearItemCount()">Items</md-radio-button>
                <md-radio-button value="-getWeightInUnits()">Weight</md-radio-button>
                <md-radio-button value="-getCostInCurrency()">Cost</md-radio-button>
                <md-radio-button value="-getCostPerUnitInCurrency()">Cost / Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container hide-gt-sm>
            <label>Sort by</label>
            <md-select ng-model="orderBy">
                <md-option value="Name">Name</md-option>
                <md-option value="-getGearItemCount()">Items</md-option>
                <md-option value="-getWeightInUnits()">Weight</md-option>
                <md-option value="-getCostInCurrency()">Cost</md-option>
                <md-option value="-getCostPerUnitInCurrency()">Cost / Weight</md-option>
            </md-select>
        </md-input-container>
        <md-button class="mockup-card-button" layout-fill ng-repeat="gearSystem in getGearSystems() | filter:filter | orderBy:orderBy" href="#/gear/systems/{{ gearSystem.Id }}">
            <md-card class="mockup-card" flex>
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ gearSystem.Name }}</h2>
                    <p layout-padding>
                        {{ gearSystem.getGearItemCount() }} item(s)<br />
                    </p>
                </md-card-content>
                <div layout="row" layout-sm="column">
                    <p layout-padding>Weight: {{ gearSystem.getWeightInUnits() | number:2 }} {{ getUnitsWeightString() }}s</p>
                    <p layout-padding>Cost: {{ gearSystem.getCostInCurrency() | currency }} ({{ gearSystem.getCostPerUnitInCurrency() | currency }} per {{ getUnitsWeightString() }})</p>
                </div>
            </md-card>
        </md-button>
    </div>
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="#/gear/systems/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
</div>
