<form novalidate name="gearSystemForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearSystem.Name" required name="name" />
        <div ng-messages="gearSystemForm.name.$error">
            <div ng-message="required">The gear system name is required</div>
        </div>
    </md-input-container>
    <label>Gear Items</label>
    <p ng-show="gearSystem.GearItems.length < 1">You have no gear items in this system! Try adding one!</p>
    <div layout="column" ng-show="gearSystem.GearItems.length > 0">
        <md-input-container>
            <md-radio-group ng-model="orderGearItemsBy" layout="row">
                <md-radio-button value="getName()">Name</md-radio-button>
                <md-radio-button value="-Count">Count</md-radio-button>
                <md-radio-button value="-getWeightInUnits()">Total Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="gearItemEntry in gearSystem.GearItems | orderBy:orderGearItemsBy" ng-init="gearItem = getGearItemById(gearItemEntry.GearItemId)">
                <md-input-container flex>
                    <label>
                        {{ gearItemEntry.getName() }}<br />
                        {{ gearItemEntry.getWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s<br />
                    </label>
                    <input type="number" ng-model="gearItemEntry.Count" min="1" max="1000000" name="count" />
                </md-input-container>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="showAddGearItemDlg($event)">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="gearSystem.removeAllGearItems()">
            <ng-md-icon icon="clear" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearSystem.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="saveGearSystem()" ng-disabled="gearSystemForm.$invalid">
            <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetGearSystem()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-warn md-icon-button" ng-click="deleteGearSystem($event)">
            <ng-md-icon icon="remove" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
