<form name="gearSystemForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearSystem.Name" required name="name" />
        <div ng-messages="gearSystemForm.name.$error">
            <div ng-message="required">The gear system name is required</div>
        </div>
    </md-input-container>
    <label>Gear Items</label>
    <p ng-show="gearSystem.GearItems.length < 1">You have no gear items in this system! Try adding one!</p>
    <div layout="column" ng-show="gearSystem.GearItems.length > 0">
        <md-radio-group ng-model="orderGearItemsBy" layout="row">
            <md-radio-button value="getName()">Name</md-radio-button>
            <md-radio-button value="-Count">Count</md-radio-button>
            <md-radio-button value="-getWeightInGrams()">Weight</md-radio-button>
        </md-radio-group>
        <md-list>
            <md-list-item ng-repeat="gearItemEntry in gearSystem.GearItems | orderBy:orderGearItemsBy" ng-init="gearItem = getGearItemById(gearItemEntry.GearItemId)">
                <div layout="row">
                    <md-input-container style="width: 100px;">
                        <input type="number" ng-model="gearItemEntry.Count" min="1" max="1000000" name="count" />
                    </md-input-container>
                    <div layout="row" layout-sm="column">
                        <span style="white-space: nowrap;">{{ gearItemEntry.getName() }}</span>
                        &nbsp;
                        <span style="white-space: nowrap;">({{ gearItemEntry.getWeightInUnits() | number:2 }} total {{ getUnitsWeightString() }}s)</span>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-primary mockup-button" ng-click="showAddGearItem($event)">
            Add Gear Items
        </md-button>
        <span flex></span>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearSystem.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-warn mockup-button" ng-click="showDeleteConfirm($event)">
            Delete System
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
