<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>What Is A Gear System?</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding flex>
        <p>A Gear System is a small collection of related Gear Items.</p>
        <p>Some examples of Gear Systems would be:
            <ul>
                <li>A water filtration system</li>
                <li>A shelter system</li>
                <li>Your favorite set of clothes</li>
                <li>A change of clothes waiting in the car</li>
            </ul></p>
    </md-dialog-content>
</md-dialog>
