<form novalidate name="addMealForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="meal.name" ng-model-options="{ getterSetter: true }" required name="name" />
        <div ng-messages="addMealForm.name.$error">
            <div ng-message="required">The meal name is required</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>Website</label>
        <input type="url" ng-model="meal.url" ng-model-options="{ getterSetter: true }" name="url" />
    </md-input-container>
    <md-input-container hide-sm>
        <md-radio-group ng-model="meal.meal" ng-model-options="{ getterSetter: true }" layout="row">
            <md-radio-button value="Breakfast">Breakfast</md-radio-button>
            <md-radio-button value="Lunch">Lunch</md-radio-button>
            <md-radio-button value="Dinner">Dinner</md-radio-button>
            <md-radio-button value="Snack">Snack</md-radio-button>
            <md-radio-button value="Drink">Drink</md-radio-button>
            <md-radio-button value="Other">Other</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <md-input-container hide-gt-sm>
        <label>Meal</label>
        <md-select ng-model="meal.meal" ng-model-options="{ getterSetter: true }">
            <md-option value="Breakfast">Breakfast</md-option>
            <md-option value="Lunch">Lunch</md-option>
            <md-option value="Dinner">Dinner</md-option>
            <md-option value="Snack">Snack</md-option>
            <md-option value="Drink">Drink</md-option>
            <md-option value="Other">Other</md-option>
        </md-select>
    </md-input-container>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>Servings</label>
            <input type="number" ng-model="meal.servingCount" ng-model-options="{ getterSetter: true }" min="1" max="100" name="servingCount" />
        </md-input-container>
        <md-input-container flex>
            <label>Weight ({{ getUnitsWeightString() }}s)</label>
            <input type="number" ng-model="meal.weightInUnits" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="weight" />
        </md-input-container>
        <md-input-container flex>
            <label>Cost ({{ getCurrencyString() }})</label>
            <input type="number" ng-model="meal.costInCurrency" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="cost" />
        </md-input-container>
    </div>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>Calories</label>
            <input type="number" ng-model="meal.calories" ng-model-options="{ getterSetter: true }" min="0" max="1000000" name="calories" />
        </md-input-container>
        <md-input-container flex>
            <label>Protein (grams)</label>
            <input type="number" ng-model="meal.proteinInGrams" ng-model-options="{ getterSetter: true }" min="0" max="1000000" name="protein" />
        </md-input-container>
        <md-input-container flex>
            <label>Fiber (grams)</label>
            <input type="number" ng-model="meal.fiberInGrams" ng-model-options="{ getterSetter: true }" min="0" max="1000000" name="fiber" />
        </md-input-container>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="meal.note" ng-model-options="{ getterSetter: true }" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="addMeal()" ng-disabled="addMealForm.$invalid">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetMeal()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
