<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsMealDlg($event)">
            <ng-md-icon icon="help" style="fill: black"></ng-md-icon> What is a meal?
        </md-button>
        <span flex></span>
    </div>
    <div ng-show="getMeals().length < 1">You have no meals! Try adding one!</div>
    <div layout="column" flex ng-show="getMeals().length > 0">
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filterName" name="filterName" placeholder="Filter" />
        </md-input-container>
        <label hide-sm>Sort by</label>
        <md-input-container hide-sm>
            <md-radio-group ng-model="orderBy" layout="row">
                <md-radio-button value="name()">Name</md-radio-button>
                <md-radio-button value="meal()">Meal</md-radio-button>
                <md-radio-button value="-getWeightInGrams()">Weight</md-radio-button>
                <md-radio-button value="-getCostInUSDP()">Cost</md-radio-button>
                <md-radio-button value="-getCostPerUnitInCurrency()">Cost / Weight</md-radio-button>
                <md-radio-button value="-calories()">Calories</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container hide-gt-sm>
            <label>Sort by</label>
            <md-select ng-model="orderBy">
                <md-option value="name()">Name</md-option>
                <md-option value="meal()">Meal</md-option>
                <md-option value="-getWeightInGrams()">Weight</md-option>
                <md-option value="-getCostInUSDP()">Cost</md-option>
                <md-option value="-getCostPerUnitInCurrency()">Cost / Weight</md-option>
                <md-option value="-calories()">Calories</md-option>
            </md-select>
        </md-input-container>
        <md-button class="mockup-card-button" layout-fill ng-repeat="meal in getMeals() | filter:filterMeal | orderBy:orderBy" href="/#!/meals/{{ meal.Id }}">
            <md-card class="mockup-card" flex>
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ meal.name() }}</h2>
                    <p layout-padding>
                        {{ meal.servingCount() }} serving(s) of {{ meal.meal() }}<br />
                        {{ meal.weightInUnits() / meal.servingCount() }} {{ getUnitsWeightString() }}s per serving<br />
                        {{ meal.calories() / meal.servingCount() | number:2 }} calories per serving<br />
                        {{ meal.proteinInGrams() / meal.servingCount() | number:2 }}g protein per serving<br />
                        {{ meal.fiberInGrams() / meal.servingCount() | number:2 }}g fiber per serving
                    </p>
                </md-card-content>
                <div layout="row" layout-sm="column">
                    <p layout-padding>{{ meal.weightInUnits() | number:2 }} {{ getUnitsWeightString() }}s</p>
                    <p layout-padding>{{ meal.getCaloriesPerWeightUnit() | number:2 }} calories per {{ getUnitsWeightString() }}</p>
                    <p layout-padding>{{ meal.costInCurrency() | currency }} ({{ meal.getCostPerUnitInCurrency() | currency }} per {{ getUnitsWeightString() }})</p>
                </div>
            </md-card>
        </md-button>
    </div>
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="/#!/meals/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
</div>
