<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>What is a Meal?</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <p>A Meal is a single consumable item that is carried on a backpacking trip and consumed as a meal.</p>
        <p>Some examples of Meals would be:
            <ul>
                <li>A complete lunch, dinner, or breakfast</li>
                <li>A snack bar</li>
                <li>An electrolyte drink additive</li>
            </ul></p>
    </md-dialog-content>
</md-dialog>
