<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="30208EnergonSoftware.BackpackingPlanner"
    Publisher="CN=66AD4632-999F-43D9-8C92-A01BCF8DDE64"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="0bef371a-c6b4-4166-ad50-86a2602ac6ee" PhonePublisherId="8bb6bbcb-9b0a-4b33-8456-70ec120f8d2c"/>

  <Properties>
    <DisplayName>EnergonSoftware.BackpackPlanner.Windows</DisplayName>
    <PublisherDisplayName>Energon Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="BackpackPlanner"
      Executable="$targetnametoken$.exe"
      EntryPoint="EnergonSoftware.BackpackPlanner.Windows.App">
      <uap:VisualElements
        DisplayName="EnergonSoftware.BackpackPlanner.Windows"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="EnergonSoftware.BackpackPlanner.Windows"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>