<md-content>
    <div class="mockup-page">
        <div>
            <md-button class="mockup-button" href="/#/gear/items/add">
                <ng-md-icon icon="add"></ng-md-icon> Add Gear Item
            </md-button>
        </div>
        <md-list>
            <md-list-item class="md-2-line mockup-list-item" ng-controller="GearItemCtrl">
                <div class="md-list-item-text mockup-list-item-text">
                    <h3>Backpack</h3>
                    <h4>ULA Circuit</h4>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line mockup-list-item" md-swipe-right="onSwipeRight()" ng-controller="GearItemCtrl">
                <div class="md-list-item-text mockup-list-item-text">
                    <h3>Swipe right to delete</h3>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line mockup-list-item" ng-click="onClick()" ng-controller="GearItemCtrl">
                <div class="md-list-item-text mockup-list-item-text">
                    <h3>Click me to go to the item</h3>
                </div>
            </md-list-item>
        </md-list>
    </div>
    <div class="mockup-notes">
        Swiping to the right should be used to delete items and should have the look and feel of swiping right in Inbox.
    </div>
</md-content>
