<md-content>
    <div class="mockup-page">
        <div><md-button class="mockup-button">Add Gear Item</md-button></div>
        <md-list>
            <md-list-item class="md-2-line mockup-list-item" href="test">
                <div class="md-list-item-text">
                    <h3>Backpack</h3>
                    <h4>ULA Circuit</h4>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line mockup-list-item">
                <div class="md-list-item-text">
                    <h3>Water Filter</h3>
                    <h4>Sawyer Mini</h4>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line mockup-list-item">
                <div class="md-list-item-text">
                    <h3>Hammock</h3>
                    <h4>DIY</h4>
                </div>
            </md-list-item>
        </md-list>
    </div>
</md-content>
