<section layout="column" id="gearItems">
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="#/gear/items/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
    <div layout="column" layout-fill>
        <md-button class="mockup-card-button" ng-repeat="gearItem in gearItems" href="#/gear/items/{{ gearItem.Id}} ">
            <md-card class="mockup-card">
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ gearItem.Name }}</h2>
                    <p layout-padding>{{ gearItem.Make }} {{ gearItem.Model }}</p>
                </md-card-content>
                <p layout-padding>TODO: More Information</p>
            </md-card>
        </md-button>
    </div>
</section>
