<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <h2 style="text-decoration: underline;">How to Use</h2>
    <ol>
        <li>Add your gear!</li>
        <li>Collect small sets of gear into systems!</li>
        <li>Collect sets of systems and miscellaneous gear into collections!</li>
        <li>Add some meals!</li>
        <!--<li>Setup trip itineraries!</li>-->
        <li>Create trip plans from systems, collections, miscellaneous gear and meals!</li>
    </ol>
    <div layout="row">
        <md-button class="mockup-button" href="http://www.energonsoftware.org/">Energon Software</md-button>
        <span flex></span>
    </div>
    <div layout="row">
        <md-button class="mockup-button" href="https://github.com/Luminoth/BackpackPlanner/">Source Code</md-button>
        <span flex></span>
    </div>
    <div layout="row">
        <p>&copy;2015 Shane Lillie</p>
        <span flex></span>
    </div>
    <div flex></div>
</div>
