<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <h2 style="text-decoration: underline;">How to Use</h2>
    <ol>
        <li>Add your gear!</li>
        <li>Collect small sets of gear into systems!</li>
        <li>Collect sets of systems and miscellaneous gear into collections!</li>
        <li>Add some meals!</li>
        <li>Create trip plans from systems, collections, miscellaneous gear and meals!</li>
    </ol>
    <br />
    <ul>
        <li><span style="color: blue">TODO:</span> Phase 2: Add buttons for duplicating objects (opens a dialog to set the name, then copies everything else)</li>
        <li><span style="color: red">TODO:</span> Need to document itineraries and pack lists as "phase 2"</li>
        <li><span style="color: red">TODO:</span> Weight categories need to be "behind the scenes" configurable</li>
        <li><span style="color: red">TODO:</span> General TODO cleanup</li>
    </ul>
    <div layout="row">
        <md-button class="mockup-button" href="http://www.energonsoftware.org/">Energon Software</md-button>
        <span flex></span>
    </div>
    <div layout="row">
        <md-button class="mockup-button" href="https://github.com/Luminoth/BackpackPlanner/">Source Code</md-button>
        <span flex></span>
    </div>
    <div layout="row">
        <p>&copy;2015 Shane Lillie</p>
        <span flex></span>
    </div>
    <div flex></div>
</div>
