<div layout="column" layout-padding flex ng-cloak>
    <p>TODO</p>
    <div layout="row">
        <md-button class="mockup-button" href="http://www.energonsoftware.org/">Energon Software</md-button>
        <span flex></span>
    </div>
    <div layout="row">
        <md-button class="mockup-button" href="https://github.com/Luminoth/BackpackPlanner/">Source Code</md-button>
        <span flex></span>
    </div>
    <div layout="row">
        <p>&copy;2015 Shane Lillie</p>
        <span flex></span>
    </div>
</div>
