<div layout="column" layout-padding flex ng-cloak>
    <p>Use the menu to do things!</p>
    <label>TODO</label>
    <ul>
        <li>Connect the "Delete All" buttons</li>
        <li>Put some general usage information on this main page</li>
        <li>Note "Slide to delete" on pages that have cards</li>
        <li>Add buttons for duplicating objects (opens a dialog to set the name, then copies everything else)</li>
        <li>Use a "command pattern" system to enable better undo/redo functionality</li>
        <li>Deleting things by Id fails for newly added things because none of the getNext*Id methods are written</li>
    </ul>
</div>
