<form name="appSettingsForm">
<div layout="column" layout-padding flex ng-cloak>
    <label>Measurement Units</label>
    <md-input-container>
        <md-radio-group ng-model="getAppSettings().Units" layout="row">
            <md-radio-button value="Metric">Metric Units</md-radio-button>
            <md-radio-button value="Imperial">Imperial Units</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <!--<md-input-container>
        <label>Currency</label>
        <md-select ng-model="getAppSettings().Currency">
            <md-option value="USD">United States</md-option>
        </md-select>
    </md-input-container>-->
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised md-warn mockup-button" ng-click="showDeleteAllConfirm($event)">Delete All Data</md-button>
        <span flex></span>
    </div>
    <div flex></div>
</div>
</form>
