<form novalidate name="appSettingsForm">
<div layout="column" layout-padding flex ng-cloak>
    <label>Measurement Units</label>
    <md-input-container>
        <md-radio-group ng-model="appSettings.units" ng-model-options="{ getterSetter: true }" layout="row">
            <md-radio-button value="Metric">Metric Units</md-radio-button>
            <md-radio-button value="Imperial">Imperial Units</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <!--<md-input-container>
        <label>Currency</label>
        <md-select ng-model="appSettings.currency" ng-model-options="{ getterSetter: true }">
            <md-option value="USD">United States</md-option>
        </md-select>
    </md-input-container>-->
    <div layout="column" flex>
        <div layout="row" ng-if="!showAdvancedSettings" flex>
            <md-button class="mockup-button" ng-click="toggleAdvancedSettings()">
                <ng-md-icon icon="arrow_drop_down"></ng-md-icon> Show Advanced Settings
            </md-button>
            <span flex></span>
        </div>
        <div layout="row" ng-if="showAdvancedSettings" flex>
            <md-button class="mockup-button" ng-click="toggleAdvancedSettings()">
                <ng-md-icon icon="arrow_drop_up"></ng-md-icon> Hide Advanced Settings
            </md-button>
            <span flex></span>
        </div>
        <div layout="column" ng-if="showAdvancedSettings">
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllGearItems($event)">Delete All Gear Items</md-button>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllGearSystems($event)">Delete All Gear Systems</md-button>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllGearCollections($event)">Delete All Gear Collections</md-button>
                <span flex></span>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllMeals($event)">Delete All Meals</md-button>
                <span flex></span>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllTripItineraries($event)">Delete All Trip Itineraries</md-button>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllTripPlans($event)">Delete All Trip Plans</md-button>
                <span flex></span>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-warn mockup-button" ng-click="deleteAllData($event)">Delete All Data</md-button>
                <span flex></span>
            </div>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary md-hue-1 mockup-button" ng-click="defaultAppSettings()">Default Settings</md-button>
                <span flex></span>
            </div>
        </div>
    </div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="saveAppSettings()" ng-disabled="appSettingsForm.$invalid">
            <ng-md-icon icon="save" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetAppSettings()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
    <div flex></div>
</div>
</form>
