<form novalidate name="addGearItemForm">
<div layout="column" layout-padding flex ng-cloak>
    <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="gearItem.Name" required name="name" />
        <div ng-messages="addGearItemForm.name.$error">
            <div ng-message="required">The gear item name is required</div>
        </div>
    </md-input-container>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex>
            <label>Make</label>
            <input type="text" ng-model="gearItem.Make" name="make" />
        </md-input-container>
        <md-input-container flex>
            <label>Model</label>
            <input type="text" ng-model="gearItem.Model" name="model" />
        </md-input-container>
    </div>
    <md-input-container>
        <label>Website</label>
        <input type="url" ng-model="gearItem.Url" name="url" />
    </md-input-container>
    <md-input-container>
        <md-radio-group ng-model="gearItem.Carried" layout="row">
            <md-radio-button value="Carried">Carried</md-radio-button>
            <md-radio-button value="Worn">Worn</md-radio-button>
            <md-radio-button value="NotCarried">Not Carried</md-radio-button>
        </md-radio-group>
    </md-input-container>
    <div layout="row" layout-sm="column" flex ng-show="'NotCarried' != gearItem.Carried">
        <md-switch ng-model="gearItem.IsConsumable" name="consumable">Consumable</md-switch>
        <md-input-container ng-show="true == gearItem.IsConsumable">
            <label>Consumed per Day</label>
            <input type="number" ng-model="gearItem.ConsumedPerDay" min="1" max="1000" name="consumedPerDay" />
        </md-input-container>
    </div>
    <div layout="row" layout-sm="column" flex>
        <md-input-container flex ng-show="'NotCarried' != gearItem.Carried">
            <label>Weight ({{ getUnitsWeightString() }}s)</label>
            <input type="number" ng-model="gearItem.weightInUnits" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="weight" />
        </md-input-container>
        <md-input-container flex>
            <label>Cost ({{ getCurrencyString() }})</label>
            <input type="number" ng-model="gearItem.costInCurrency" ng-model-options="{ getterSetter: true, debounce: 500 }" min="0" max="1000000" name="cost" />
        </md-input-container>
    </div>
    <md-input-container>
        <label>Note</label>
        <textarea ng-model="gearItem.Note" name="note"></textarea>
    </md-input-container>
    <div flex></div>
    <div layout="row">
        <span flex></span>
        <md-button type="submit" class="md-raised md-primary md-icon-button" ng-click="addGearItem()" ng-disabled="addGearItemForm.$invalid">
            <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-raised md-primary md-hue-1 md-icon-button" ng-click="resetGearItem()">
            <ng-md-icon icon="undo" style="fill: white"></ng-md-icon>
        </md-button>
        <span flex></span>
    </div>
</div>
</form>
