<div layout="column" layout-padding flex ng-cloak>
    <div ng-show="getGearItems().length < 1">You have no gear items! Try adding one!</div>
    <div layout="column" flex ng-show="getGearItems().length > 0">
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filter.Name" name="filter" placeholder="Filter" />
        </md-input-container>
        <label>Sort by</label>
        <md-radio-group ng-model="orderBy" layout="row" layout-sm="column">
            <md-radio-button value="Name">Name</md-radio-button>
            <md-radio-button value="-WeightInGrams">Weight</md-radio-button>
            <md-radio-button value="-CostInUSDP">Cost</md-radio-button>
            <md-radio-button value="-getCostPerGramInUSDP()">Cost / Weight</md-radio-button>
        </md-radio-group>
        <md-button class="mockup-card-button" layout-fill ng-repeat="gearItem in getGearItems() | filter:filter | orderBy:orderBy" href="#/gear/items/{{ gearItem.Id }}">
            <md-card class="mockup-card" flex>
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ gearItem.Name }}</h2>
                    <p layout-padding>{{ gearItem.Make }} {{ gearItem.Model }}</p>
                </md-card-content>
                <div layout="row" layout-sm="column">
                    <p layout-padding ng-if="'NotCarried' != gearItem.Carried">Weight: {{ gearItem.weightInUnits() | number:2 }} {{ getUnitsWeightString() }}s</p>
                    <p layout-padding>Cost: {{ gearItem.costInCurrency() | currency }} ({{ gearItem.getCostPerUnitInCurrency() | currency }} per {{ getUnitsWeightString() }})</p>
                    <p layout-padding ng-if="gearItem.IsConsumable">Consumed per day: {{ gearItem.ConsumedPerDay }}</p>
                </div>
            </md-card>
        </md-button>
    </div>
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="#/gear/items/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
</div>
