<div layout="column" layout-padding flex ng-cloak>
    <a id="top"></a>
    <div flex>
        <md-button class="mockup-button" ng-click="showWhatIsGearItemDlg($event)">
            <ng-md-icon icon="help" style="fill: black"></ng-md-icon> What is a gear item?
        </md-button>
        <span flex></span>
    </div>
    <div ng-show="getGearItems().length < 1">You have no gear items! Try adding one!</div>
    <div layout="column" flex ng-show="getGearItems().length > 0">
        <md-input-container md-no-float flex>
            <input type="text" ng-model="filterName" name="filterName" placeholder="Filter" />
        </md-input-container>
        <label hide-sm>Sort by</label>
        <md-input-container hide-sm>
            <md-radio-group ng-model="orderBy" layout="row">
                <md-radio-button value="name()">Name</md-radio-button>
                <md-radio-button value="-getWeightInGrams()">Weight</md-radio-button>
                <md-radio-button value="-getCostInUSDP()">Cost</md-radio-button>
                <md-radio-button value="-getCostPerUnitInCurrency()">Cost / Weight</md-radio-button>
            </md-radio-group>
        </md-input-container>
        <md-input-container hide-gt-sm>
            <label>Sort by</label>
            <md-select ng-model="orderBy">
                <md-option value="name()">Name</md-option>
                <md-option value="-getWeightInGrams()">Weight</md-option>
                <md-option value="-getCostInUSDP()">Cost</md-option>
                <md-option value="-getCostPerUnitInCurrency()">Cost / Weight</md-option>
            </md-select>
        </md-input-container>
        <md-button class="mockup-card-button" layout-fill ng-repeat="gearItem in getGearItems() | filter:filterGearItem | orderBy:orderBy" href="/#!/gear/items/{{ gearItem.Id }}">
            <md-card class="mockup-card" flex>
                <md-card-content class="mockup-card-content">
                    <h2 class="md-title">{{ gearItem.name() }}</h2>
                    <p style="white-space: normal;" layout-padding>
                        {{ gearItem.make() }} {{ gearItem.model() }}<br />
                    </p>
                </md-card-content>
                <div layout="row" layout-sm="column">
                    <div ng-if="gearItem.isCarried()" layout="row">
                        <div ng-if="'None' == gearItem.getWeightCategory()" class="mockup-weight-category" style="background-color: black;">0</div>
                        <div ng-if="'Ultralight' == gearItem.getWeightCategory()" class="mockup-weight-category" style="background-color: grey;">UL</div>
                        <div ng-if="'Light' == gearItem.getWeightCategory()" class="mockup-weight-category" style="background-color: aqua;">L</div>
                        <div ng-if="'Medium' == gearItem.getWeightCategory()" class="mockup-weight-category" style="background-color: green;">M</div>
                        <div ng-if="'Heavy' == gearItem.getWeightCategory()" class="mockup-weight-category" style="background-color: yellow;">H</div>
                        <div ng-if="'ExtraHeavy' == gearItem.getWeightCategory()" class="mockup-weight-category" style="background-color: red;">XH</div>
                        <p layout-padding>{{ gearItem.weightInUnits() | number:2 }} {{ getUnitsWeightString() }}s</p>
                    </div>
                    <div ng-if="!gearItem.isCarried()" class="mockup-weight-category" style="background-color: black;">NC</div>
                    <p layout-padding>{{ gearItem.costInCurrency() | currency }} ({{ gearItem.getCostPerUnitInCurrency() | currency }} per {{ getUnitsWeightString() }})</p>
                    <p ng-if="gearItem.isConsumable()" layout-padding>{{ gearItem.consumedPerDay() }} consumed per day</p>
                </div>
            </md-card>
        </md-button>
    </div>
    <md-button class="md-fab md-primary md-hue-1 mockup-add-button" href="/#!/gear/items/add">
        <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
</div>
