<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>What is a Gear Item?</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <p>A Gear Item is a single piece of gear that is either carried, worn, or left in the car on a backpacking trip. Items can also be consumable.</p>
        <p>Some examples of Gear Items would be:
            <ul>
                <li>A backpack</li>
                <li>A tent</li>
                <li>Your favorite pair of shoes</li>
                <li>A celebration beer waiting in the car</li>
            </ul></p>
    </md-dialog-content>
</md-dialog>
