<md-dialog ng-cloak>
    <md-toolbar layout="row">
        <div class="md-toolbar-tools" layout="row">
            <h2>What Is A Gear Item?</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <ng-md-icon icon="close"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <p>A Gear Item is a single piece of gear that is either carried, worn, or left in the car on a backpacking trip. Gear Items can also be consumable.</p>
        <p>Some examples of Gear Items would be:
            <ul>
                <li>A backpack</li>
                <li>A tent</li>
                <li>Your favorite pair of shoes</li>
                <li>A celebration beer waiting in the car</li>
            </ul></p>
        <p>Gear Items are categorized by weight using the following scheme:
            <ul>
                <li><span style="color: black;">None</span></li>
                <li><span style="color: grey;">Ultralight</span></li>
                <li><span style="color: aqua;">Light</span></li>
                <li><span style="color: green;">Medium</span></li>
                <li><span style="color: yellow;">Heavy</span></li>
                <li><span style="color: red;">Extra Heavy</span></li>
            </ul></p>
    </md-dialog-content>
</md-dialog>
